name: CI pipeline with tests and docker

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
    # test Job
    test:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v2
        - name: Set up Python
          uses: actions/setup-python@v2
          with:
            python-version: 3.14.1
        
        - name: install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
        
        - name: run tests
          run: |
            pytest
        
    front:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v2
        - name: build frontend
          run: |
            npm ci
            npm run build

    # build docker img job -> should this be a docker file?
    

    # push/deploy docker repo job? -> should this be a docker file?




    # where do i setup ADC?