name: CI pipeline with tests and docker

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
    # test Job
    test:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v2
        - name: Set up Python
          uses: actions/setup-python@v2
          with:
            python-version: 3.14.1
        
        - name: install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
        
        - name: run tests
          run: |
            pytest
        
    # build job

    # deploy job